.about-me-container {
    background: #96c9ef;
    width: 45rem;
    padding: 1em 1em;
    border-radius: 20px;
    color: #213547;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-me-container > h2 {
    margin: 0;
}

.about-me-container > p {
    margin: 0;
    padding: 1em 2em;
}

.imgStyle {
    height: 75px;
    filter: drop-shadow(0 0 5px #54a7e5);
    transition: filter 0.3s ease-in-out;
}

.imgStyle:hover {
    filter: drop-shadow(0 0 12px #3683be);
}

.about-me-icons {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .about-me-container {
        width: 30rem;
    }
}

@media only screen and (max-width: 480px) {
    .about-me-container {
        width: 22rem;
    }

    .about-me-container > p {
        margin: 0;
        padding: 1em .2em;
    }
    
}