.Mastodon-Page {
    background-color: #02020e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Mastodon-Page > h1 {
    color:bisque;
    background-color: navy;
    padding: .5em 2em;
    border-radius: 20px;
}