.project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.project-card-container > h3 {
    background-color: #213547;
    color: #fff;
    width: 93%;
    padding: .5em 0;
    text-align: center;
    border-radius: 15px;
}

.project-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 1.5em;
}

.project-details > a > img {
    width: auto;
    height: 290px;
    max-width: 310px;
    max-height: 290px;
    border: 3px solid #bbf8f8;
    border-radius: 10px;
    object-fit: cover;
}

.project-details > a > img:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-in-out;
}

.project-details > p {
    padding: .5em 0 .5em 2em;
    line-height: 1.2em;
    font-size: large;
    margin: 0;
}

.button-div {
    width: 93%;
}

.defaultButton {
    background-color: #96c9ef;
    color: #213547;
    border: none;
    border-radius: 4px;
    padding: 10px 0px;
    margin: .3em 0em;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    text-decoration: none;
  }

.button-div > a {
    text-decoration: none;
}
  
.defaultButton:hover {
    background-color: #5693cc;
  }

  @media only screen and (max-width: 768px) {
    .project-details {
        flex-direction: column;
    }

    .project-details > p {
        padding: .3em 0;
        line-height: 1.2em;
        font-size: medium;
        margin: 0;
    }
}