.toot-container {
    background-color: #010b3b;
    color: #d9daf1;
    width: 24em;
    margin: .3em 0;
    padding: .3em 1em;
    border-radius: 20px;
}

.toot-time {
    margin: .2em 1em;
    font-size: .8em;
    font-weight: bold;
}

.toot-content {
    margin: 0;
    background-color: #041258;
    padding: .1em 1.4em;
}

.toot-info-div {
    display: flex;
    margin: 0;
    justify-content: space-around;
}

.toot-info-div > p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .3em 1em;
}

a {
    text-decoration: none;
    color: #74addb;
}

span.invisible {
    display: none;
}

.mastodon-icon {
    height: 1.5em;
    margin: 0 .3em;
}

.toot-image {
    max-width: 24em;
}

@media only screen and (max-width: 480px) {
    .toot-info-div > p {
        margin: .3em 0;
    }

    .toot-container {
        width: 100%
    }
}